<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <th:block th:replace="~{fragments/fragments :: head}"></th:block>
        <title>Photo detail</title>
    </head>
</head>
<body>
    <th:block th:replace="~{fragments/fragments :: navbar(${keyword}, false)}"></th:block>

    <div class="container d-flex justify-content-center py-3"
         th:with="photoToggle= ${photo.file != null ? photo.file : photo.url}">
        <div class="card w-25">
            <img th:src="@{|/files/${photo.id}|}" class="card-img-top" th:alt="${photo.title}">
            <div class="card-body">
                <h5 class="card-title" th:text="${photo.title}"></h5>
                <p class="card-text" th:text="${photo.description}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="category : ${photo.categories}"
                    th:text="${category.name}"></li>
            </ul>
            <div class="card-body">
                <a th:href="@{|/photo/delete/${photo.id}|}" class="card-link text-danger">Delete
                    Photo</a>
                <a th:href="@{|/photo/edit/${photo.id}|}" class="card-link">Edit Photo</a>
            </div>
        </div>
    </div>

</body>
</html>